table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 600px;
    height: 900px;
  }
  
  tr,
  td,
  th {
    border: 1px solid black;
    /* text-align: center; */
  }
  

  
  div {
    width: 1000px;
    height: 1000px;
    overflow: auto;
  }